<!DOCTYPE html>
<html>
  <head>
    <title>BlokcLine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@200&display=swap" rel="stylesheet">   
  </head>
  <body>
    <main>
        <header class="encabezado">
              <div class="logo">
                        <img src="/images/logo.jpg">
              </div>
              <nav class="menu">

                        <div class="contactanos">
                            <button>Contactanos!</button>
                        </div>

                        <div class="sobre">
                          <button>Sobre nosotros</button>
                        </div>

                        <div class="crear">
                          <button>Crear cuenta</button>
                        </div>

                        <div class="iniciar">
                          <button>Iniciar sesion</button>
                          
                        </div>

              </nav>

        </header>
        <div class="barra">

        </div>

        <div class="cuerpo">
          
            <div class="nota">

              <div class="cabezaNota">
                <i class="far fa-save"></i>
                <i class="far fa-trash-alt"></i>
              </div>
              <div class="cuerpoNota">
                  <form>
                      <textarea class="inp" type="text" placeholder="Escribi tu nota aca..."></textarea>
                  </form>
              </div>

            </div>

            <div class="misNotas">
              <div class="cabezaMis">
                <p>Mis notas</p>
              </div>


              <div class="cuerpoMis">

              </div>

            </div>

        

        </main>






        <div class="footer">

          <p>Copyright Todos los derechos reservados NM Soluciones Informaticas</p>
        </div>
    
  </body>
  <script src="https://kit.fontawesome.com/c4bdaf8220.js" crossorigin="anonymous"></script>
</html>
